<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-1-1">
    <h2>Statistics</h2>
    <hr class="uk-grid-divider">
    <p>Established: 537days ago</p>
    <p>Population: 300,395campers</p>
    <p>Completed: 13,126,362challenges</p>
    <p>Donated: $850,000in pro-bono code</p>

    <h2>Links</h2>
    <hr class="uk-grid-divider">
    <ul>
      <li><a href="" target="_blank"><i class="uk-icon-medium-logo"></i>Our Medium</a></li>
      <li><a href="" target="_blank"><i class="uk-icon-twitch"></i>Our Twitch.Tv</a></li>
      <li><a href="" target="_blank"><i class="uk-icon-reddit"></i>Our Subreddit</a></li>
      <li><a href="" target="_blank"><i class="uk-icon-github"></i>Our Github repository</a></li>
      <li><a href="" target="_blank"><i class="uk-icon-linkedin"></i>Our Linkedin University Page</a></li>
      <li><a href="" target="_blank"><i class="uk-icon-twitter"></i>Our Twitter feed</a></li>
      <li><a href="" target="_blank"><i class="uk-icon-facebook"></i>Our Facebook Page</a></li>
      <li><a href="" target="_blank"><i class="uk-icon"></i>Our privacy policy</a></li>
      <li><a href="" target="_blank"><i class="uk-icon"></i>Our code of conduct</a></li>
      <li><a href="" target="_blank"><i class="uk-icon"></i>Our academic honesty policy</a></li>
      <li><a href="" target="_blank"><i class="uk-icon"></i>Our Terms of Service</a></li>
      <li><a href="" target="_blank"><i class="uk-icon"></i>Our How our nonprofit projects work</a></li>
      <li><a href="" target="_blank"><i class="uk-icon"></i>Our Extra-curricular apps built by campers</a></li>
      <li><a href="" target="_blank"><i class="uk-icon"></i>Our Stories from campers who've become professional software engineers</a></li>
    </ul>

    <h2>Frequently Asked Questions</h2>
    <hr class="uk-grid-divider">
    <p class="faq-question">What is Free Code Camp?</p>
    We’re an open source community that helps you learn to code.

    <p class="faq-question">How do you help me learn to code?</p>
    You can work through our self-paced coding challenges, build projects, and earn certifications. We also connect you with people in your city so you can code together.

    <p class="faq-question">Can Free Code Camp help me get a job as a software engineer?</p>
    Yes. Hundreds of people have gotten software engineering jobs after completing our coding challenges.

    <p class="faq-question">Is Free Code Camp a coding bootcamp?</p>
    No. A lot of coding bootcamps use Free Code Camp as part of their curriculum, though.

    <p class="faq-question">Is Free Code Camp really free?</p>
    Yes. Our curriculum, nonprofit projects, and verified certifications are all free.

    <p class="faq-question">Which certifications does Free Code Camp offer?</p>
    We offer four free verified certifications: front end development, back end development, data visualization, and full stack development.

    <p class="faq-question">How can I help nonprofits through Free Code Camp?</p>
    Once you finish the first three certifications, you’ll get to build a series of solutions for nonprofits. You’ll work in pairs, under the supervision of a volunteer project manager and a stakeholder from the nonprofit.

    <p class="faq-question">How much money has Free Code Camp saved nonprofits?</p>
    Our community has done nearly a million dollars worth of pro-bono coding for nonprofits so far.

    <p class="faq-question">Is there a way I can help nonprofits before I earn my certifications?</p>
    Yes. You can pledge a monthly donation to a nonprofit of your choosing while you learn.

    <p class="faq-question">How long does Free Code Camp take?</p>
    It takes about 2,080 hours to earn all four of our certifications. This translates into one year of full-time coding. We’re completely self-paced though, so take as long as you need.

    <p class="faq-question">Is Free Code Camp a replacement for a 4-year degree?</p>
    No. Please don’t drop out of college just to pursue Free Code Camp. You can pursue both concurrently. Even though you don’t need a 4-year degree to work as a software engineer, it still helps a lot.

    <p class="faq-question">I'm a teacher. Is Free Code Camp an appropriate resource for my class?</p>
    Yes. Many high school, college, and adult ed programs incorporate Free Code Camp into their coursework. We're open source, so no licenses or special permission from us is necessary. We're even building special tools for teachers.

    <p class="faq-question">Should I complete all of these challenges in order?</p>
    We’ve put a lot of thought into how we introduce concepts. But you’re free to jump around.

    <p class="faq-question">Do I have to use CodePen for the front end projects?</p>
    As long as your code is publicly viewable, and you have a live demo, you can use whatever you want.

    <p class="faq-question">When will you release the additional React, Sass, and D3 challenges?</p>
    We’ll release these in Spring 2016. In the meantime, other people have completed our React/Sass and D3 projects by referencing their official documentation.

    <p class="faq-question">How can I hire Free Code Camp alumni?</p>
    You can reach out to them through our alumni network.

    <p class="faq-question">How did Free Code Camp get started?</p>
    Quincy started our open source community in 2014. He is now just one of many active contributors.

    <p class="faq-question">How is Free Code Camp incorporated?</p>
    Quincy set up a company in California called Free Code Camp, Inc. to support the Free Code Camp community. It pays for servers and other expenses. It also sponsors Quincy, Berkeley, and Michael, who oversee infrastructure and nonprofit projects.

    <p class="faq-question">Can I get a job at Free Code Camp?</p>
    We can't afford to hire anyone, but we can serve as a springboard for your next job. Our contributors have landed jobs at companies like GitHub and Spotify.

    <p class="faq-question">Can my company advertise on Free Code Camp?</p>
    We don’t show ads.

    <p class="faq-question">Can I invest in Free Code Camp?</p>
    We're self-funded and don't want outside investment.

    <p class="faq-question">Can I donate to Free Code Camp?</p>
    We don’t accept donations. Instead, you should support us through our shop.

    <h2>Whom to contact for what</h2>
    <hr class="uk-grid-divider">
    <table>
      <tr><td>Support (team@freecodecamp.com)</td><td>@QuincyLarson</td></tr>
      <tr><td>Facebook page</td><td>@QuincyLarson</td></tr>
      <tr><td>Twitter feed</td><td>@QuincyLarson</td></tr>
      <tr><td>Medium publication</td><td>@QuincyLarson</td></tr>
      <tr><td>Media inquiries</td><td>@QuincyLarson</td></tr>
      <tr><td>Open source codebase contributions</td><td>@BerkeleyTrue</td></tr>
      <tr><td>Server problems</td><td>@BerkeleyTrue</td></tr>
      <tr><td>Nonprofit projects</td><td>@CodeNonprofit</td></tr>
      <tr><td>Volunteer agile project managers</td><td>@CodeNonprofit</td></tr>
      <tr><td>Commit program</td><td>@CodeNonprofit</td></tr>
      <tr><td>Video challenge curriculum</td><td>@BrianaMarie</td></tr>
      <tr><td>Twitch.tv channel</td><td>@Septimus</td></tr>
      <tr><td>Youtube channel</td><td>@Septimus</td></tr>
      <tr><td>JavaScript curriculum</td><td>@SaintPeter</td></tr>
      <tr><td>Data Science and Open Data</td><td>@Evaristoc</td></tr>
      <tr><td>CamperBot</td><td>@LTegman</td></tr>
      <tr><td>Translation and Internationalization</td><td>@Vtamara</td></tr>
      <tr><td>Wiki</td><td>@Rafase282</td></tr>
      <tr><td>Campsites</td><td>@Hallaathrad</td></tr>
    </table>
  </div>
</div>
