<div class="container">
  <!-- navbar -->
  <nav class="navbar">
    <ul>
      <li>{{#link-to "index"}}emberCodeCamp{{/link-to}}</li>
      <li>{{#link-to "challenges"}}Challenges{{/link-to}}</li>
      <li>{{#link-to "about"}}About{{/link-to}}</li>
      <li>{{#link-to "shop"}}Shop{{/link-to}}</li>
    </ul>
  </nav>
  <!-- ./navbar -->
  {{outlet}}
</div>
