<div>This page contain all html elements, for design purposes</div>

<div>
  <h2>Typography</h2>
  <p>Titles</p>

  <h1>Title h1</h1>
  <h2>Title h2</h2>
  <h3>Title h3</h3>
  <h4>Title h4</h4>
  <h5>Title h5</h5>
  <h6>Title h6</h6>

  <p>Text semantics</p>
  <p>This is a paragraph</p>
  <table>
    <tr><td><code>&lt;a&gt;</code></td><td>Turns text into hyperlink using the a element</td></tr>
    <tr><td><code>&lt;em&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;strong&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;code&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;del&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;ins&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;mark&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;abbr&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;dfn&gt;</code></td><td></td></tr>
    <tr><td><code>&lt;small&gt;</code></td><td></td></tr>
  </table>
</div>
