<h1>Learn to code and help nonprofits.</h1>
<button>Start coding (it's free)</button>
<p>Here's why you should join our open source community right now:</p>
<ul>
  <li>You'll get help in real time from our community chat rooms.</li>
  <li>You'll meet up with other coders in your city.</li>
  <li>You'll learn to code at your own pace, in your browser or on your phone.</li>
  <li>You'll work through our focused, interactive courses and tutorials.</li>
  <li>You'll learn state-of-the-art full stack JavaScript technologies.</li>
  <li>You'll build projects that help nonprofits carry out their missions more effectively.</li>
  <li>You'll assemble a portfolio of real apps used by real people.</li>
</ul>